<ion-view>
	<div style="width: 100%;height: 100%;background: dodgerblue;padding-top: 80px;">
		<div style="text-align: center;">
			<a href="#">
				<img style="width: 420px;" src="../../img/logo-white.png"/>
			</a>
		</div>
		<div style="width: 100%;">
			<div style="padding: 0 15%;position: relative;">
				<div style="position: relative;padding-bottom: 20px;">
					<i style="position: absolute;top: 5px;">
						<img style="width: 20px;" src="../../img/ico_my.png"/>
					</i>
					<input style="margin-left: 30px;width: 65vw;padding-left: 10px;background: dodgerblue;border: 1px solid #D1D3D6;" type="text" placeholder="邮箱/手机号"/>
				</div>
				<div style="position: relative;">
					<i style="font-size: 25px;color: white;position: absolute;top: 5px;" class="icon ion-ios-locked-outline"></i>
					<input style="margin-left: 30px;width: 65vw;padding-left: 10px;background: dodgerblue;border: 1px solid #D1D3D6;" type="text" placeholder="密码"/>
				</div>
				<div style="position: relative;">
					<input type="submit" value="确认登录" style="border: none;background: dodgerblue;border: 1px solid #D1D3D6;color: white;width: 65vw;margin-top: 30px;height: 40px;margin-left: 15px;"/>
				</div>
				<div style="width: 100%;text-align:center;margin-top: 30px;color: white;">
					<span>验证码登录？</span>
					<span class="dian">忘记密码？</span>
					<span class="dian">注册新用户？</span>
				</div>
			</div>
		</div>
		<div class="hoolay-third">
			<hr />
			<span>第三方登录</span>
			<hr />
		</div>
	</div>
</ion-view>