
.hoolay-third{
	width: 60%;
	margin: 0 auto;
	margin-top: 50px;
}
.hoolay-third hr{
	width: 100px;
	display: inline-block;
	border-color: white;
}
.hoolay-third span{
	display: inline-block;
	font-size: 16px;
	color: white;
}
